.main-content{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    width: 100%;
    font-family: sans-serif;
    font-size: medium;
    margin-top: 10px;
    background-color: black;
}
.left-content{
    margin: 10px 30px 0 30px;
    & p{
        font-weight: 800;
        width: 90%;
        font-size: 17px;
        color: rgb(179, 179, 179);
    }
    & h4{
        font-size: 35px;
        color: #CDF567;
    }
    & h1{
        color: white;
        font-size: 65px;
        padding: 0;
        margin-right: 30px;
    }
    & .btn-open{
        background-color: transparent;
        border: 2px solid #CDF567;
        color: #CDF567;
        font-weight: bold;
        font-size: 20px;
        height: 60px;
        border-radius: 10px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        & svg{
            margin: 0 5px 0 10px;
        }
        &:hover{
            background-color: #CDF567;
            color: black;
        }
    }
}
.fb-rating{
    font-weight: bolder;
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    & p{
        color: rgb(240, 225, 225);
        margin: 3px 0 0 3px;
        padding: 0;
    }
    margin-right: 15%;
    & h1{
        font-size: 10px;
        font-weight: lighter;
        grid-row: 3;
        width: 65px;
        margin: 2px 0 0 3px;
    }
}
.ca-rating, .gg-rating{
    @extend .fb-rating;
    & .logoImg{
        height: 40px;
    }
}

.rating-content{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 30px 0 30px 0
}

.right-content{
    margin: 5px 20% 0 20%;
    position: relative;
    & svg path {
        stroke: #CDF567;
        stroke-width: 20;
        stroke-dasharray: 50;
        stroke-dashoffset: 100;
        animation: textAnimation2 4s ease infinite;
    }
}
@keyframes textAnimation2{
    0%{
        stroke-dashoffset: 98;
    }
    10%{
        stroke-dashoffset: 90;
    }
    20%{
        stroke-dashoffset: 80;
    }
    30%{
        stroke-dashoffset: 70;
    }
    40%{
        stroke-dashoffset: 60;
    }
    50%{
        stroke-dashoffset: 50;
    }
    60%{
        stroke-dashoffset: 60;
    }
    70%{
        stroke-dashoffset: 70;
    }
    80%{
        stroke-dashoffset: 80;
    }
    90%{
        stroke-dashoffset: 90;
    }
    100%{
        stroke-dashoffset: 98;
    }
}