.login-container{
    background-color: white;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    & .form-container{
        background-color: #fff;
        width: 600px;
        height: 350px;
        padding: 20px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all .25s cubic-bezier(0.7, -.5, 0.3, 1.8);
        transform-style: preserve-3d;
        & .register-form{
            margin: 10px 20% 0 20%;
            display: grid;
            grid-template-columns: 1;
            & input{
                height: 25px;
                margin: 0 0 10px 0;
                padding-left: 10px;
                border-radius: 5px;
            }
            & .btn-register{
                margin-bottom: 10px;
                font-weight: bolder;
                font-size: large;
                height: 40px;
                padding: 5px;
                background-color: #CDF567;
                cursor: pointer;
                border-radius: 10px;
                border: none;
            }
        }
        & .form-toggle{
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center;
            margin: 10px 10px 10px 10px;
            & button{
                font-weight: bolder;
                font-size: large;
                margin: 5px;
                padding: 5px 10px 5px 10px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
            }
        }
        & .login-form{
            margin: 10px 20% 0 20%;
            display: grid;
            grid-template-columns: 1;
            & p, a{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                padding-left: 5px;
            }
            & input{
                height: 25px;
                margin: 0 0 10px 0;
                padding-left: 10px;
                border-radius: 5px;
            }
            & .btn-login{
                font-weight: bolder;
                font-size: large;
                height: 40px;
                padding: 5px;
                background-color: #CDF567;
                cursor: pointer;
                border-radius: 10px;
                border: none;
            }
            & .btn-google{
                cursor: pointer;
                display: flex;
                justify-content: center;
                height: 40px;
                border-radius: 10px;
                background-color: transparent;
                font-weight: bold;
                & svg{
                    height: 35px;
                    margin: 0;
                    padding: 0;
                }
                & p {
                    padding: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}
.active{
    background-color: #CDF567;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.animate{
    transform: rotateY(90deg);
}