.content-center{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  width: 100%;
  column-gap: 20px;
}
.container{
  background-color: black;
}
.footer-container{
  grid-column: 2;
}
.login-container{
  grid-column: 2;
}