#right-content{
    & svg path {
        stroke: #22d3ee;
        stroke-width: 20;
        stroke-dasharray: 50;
        stroke-dashoffset: 100;
        animation: textAnimation2 4s ease infinite;
    }
}
@keyframes textAnimation2{
    0%{
        stroke-dashoffset: 98;
    }
    10%{
        stroke-dashoffset: 90;
    }
    20%{
        stroke-dashoffset: 80;
    }
    30%{
        stroke-dashoffset: 70;
    }
    40%{
        stroke-dashoffset: 60;
    }
    50%{
        stroke-dashoffset: 50;
    }
    60%{
        stroke-dashoffset: 60;
    }
    70%{
        stroke-dashoffset: 70;
    }
    80%{
        stroke-dashoffset: 80;
    }
    90%{
        stroke-dashoffset: 90;
    }
    100%{
        stroke-dashoffset: 98;
    }
}